<div class="bs-example">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="#">Users posts</a>

                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchExpr">
                    </div>
                </form>
				<form class="navbar-form navbar-right"> 
					<input ng-model="newUserName" type="text">  
					<button class="btn btn-default" ng-click="addUser()">Add user</button>
				</form>
            </div>
        </nav>
        <!-- Table -->
        <ag-table table-columns="headers" table-rows="userList" table-rows-visible="5" table-filter="searchExpr">
            
    </div>
    
</div>